/* Селекторы по тегам */

body {
    background-color: #ffeaef;
    font-family: arial;
    font-size: 18px;
    color: #A52A2A;
    font: "Times New Roman", Times, serif;
}

main {
    margin: 32px auto;
    width: 320px;
}

hr {
    margin: 32px 0;
    color: pink;
    background-color: pink;
    border: none;
    height: 2px;
}

select {
    padding: 7px 6px;
    background-color: #ddd;
    border:none;
    border-radius: 4px;
    font-size: 18px;
}

input[type=text] {
    padding: 8px;
    position: relative;
    top: -2px;
    border-width: 2px;
    border-color: hotpink;
}

textarea {
    width: 100%;
    margin-bottom: 16px;
    background-color: #f3fffb;
}

input[type=file] {

    margin-bottom: 16px;


}

a {
    color: black;
    font-size: 16px;
}

/* Селекторы по классам */

.button {
    background-color: #DB7093;
    padding: 8px 16px;
    text-decoration: none;
    color: #fffcfc;
    border:none;
    border-radius: 4px;
    font-size: 18px;
    transition-duration: 0.4s;
}

.button:hover {
  background-color: #7FFFD4;
  color: white;
}


